@tailwind base;
@tailwind components;
@tailwind utilities;

.image-max{
    min-width: 650px;
    max-width: 800px;
    max-height: fit-content;
}
.image-max > img {
    object-fit: contain;
}
.hidden-scroll::-webkit-scrollbar{
    width: 0;
}
.hidden-scroll{
    scrollbar-width: none;
}

.up-down-animation{
    animation: fadeInMoveUpDown 1s ease-in-out;
}

.animate-fadein {
    animation: fadeInMove 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.modal-view {
    animation: fadeIn 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.modal-view > img {
    animation: fadeInMove .8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes fadeInMoveUpDown {
    0% {
        opacity: 0;
        transform: translateYC(-100%);
    }

    100% {
        opacity: 1;
        transform: translateYC(0);
    }
}
@keyframes fadeInMove {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        /* transform: translateY(100%); */
    }

    100% {
        opacity: 1;
        /* transform: translateY(0); */
    }
}

/* MyProfile */

.profile {
    background-color: rgb(0, 0, 0);
    
    z-index: 9;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    outline: 2px solid rgb(53, 53, 53);
    padding: 5px;
    border-radius: 35px;
}
.fixed-profile {
    position: fixed;
    top: .5em;
    left: 5px;
}
.home{
    top: auto;
    bottom: 1em;
    right: 1em;
    left: auto;
}

.profile>p {
    padding: 0 1em 0 0;
    font-weight: bold;
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.profile>p>span {
    font-size: .8em;
    color: rgb(209, 206, 206);
}
.profile>img{
    transform-origin: center bottom;
    animation: bounce 1s linear;
    animation-delay: 5s;
}
.profile:hover>img {
    transform-origin: center bottom;
    animation: bounce 1s linear infinite;
    animation-delay: 0s;
}

@keyframes bounce {

    from,
    20%,
    53%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -30px, 0) scaleY(1.1);
    }

    70% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -15px, 0) scaleY(1.05);
    }

    80% {
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translate3d(0, 0, 0) scaleY(0.95);
    }

    90% {
        transform: translate3d(0, -4px, 0) scaleY(1.02);
    }
}

/* SIDEBAR */

.show-nav, .hidde-nav, .transition-nav{
    transition: all .5s ease-in-out;
}
.show-nav{
    position: fixed;
    left: 0;
    top: 0;
}

.hidde-nav{
    left: -390px
}

@media screen and (max-width:700px) {
    .show-nav{
        z-index: 10;
    }
    .show-nav::before{
        content: "";
        width: 100vw;
        height: 100vh;
        z-index: -1;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.575);
    }
}